@model ControlPostgres.Contexto.Entities.TbSolicitude

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TbSolicitude</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SolicitudFecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SolicitudFecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DetallesSolicitud)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DetallesSolicitud)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechasSeleccionadas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechasSeleccionadas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadDias)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadDias)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comentario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comentario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cargo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cargo.CargoDescripcion)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Depto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Depto.DeptoDescripcion)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Empleado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Empleado.EmpleadoApellido1)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estados)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estados.EstadosNombre)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vacaciones)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vacaciones.VacacionesEstado)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="SolicitudId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
