@model ControlPostgres.Contexto.Entities.TbSolicitude
@section Scripts {
    <script>
        $(function () {

            document.getElementById('notifica').style.visibility = 'hidden';
            document.getElementById('notifica').style.display = "none";
            if (@ViewBag.Estado == 2) {
                document.getElementById('Estado').style.visibility = 'hidden';
                document.getElementById('Estado').style.display = 'none';
                document.getElementById('notifica').style.visibility = 'visible';
                document.getElementById('notifica').style.display = 'initial';
                document.getElementById('Boton_Modifica').style.visibility = 'hidden';
                document.getElementById('Boton_Modifica').style.display = 'none';
                document.getElementById('txtComentario').style.visibility = 'hidden';
                document.getElementById('txtComentario').style.display = 'none';
            }else if (@ViewBag.Estado == 4) {
                document.getElementById('Estado').style.visibility = 'hidden';
                document.getElementById('Estado').style.display = 'none';
                document.getElementById('notifica').style.visibility = 'visible';
                document.getElementById('notifica').style.display = 'initial';
                document.getElementById('notifica').innerHTML = "La opcion no aparece disponible debido a que la solicitud ya fue <b>aprobada</b> ";
                document.getElementById('Boton_Modifica').style.visibility = 'hidden';
                document.getElementById('Boton_Modifica').style.display = 'none';
                document.getElementById('txtComentario').style.visibility = 'hidden';
                document.getElementById('txtComentario').style.display = 'none';
            }
        });
    </script>

}
@{ ViewData["Title"] = "Detalles"; }




<div>
    <form asp-action="ModificarDetallesDepaEncargado">
        <h4>Detalles de la Solicitud del colaborador @Model.Empleado.EmpleadoNombre1 @Model.Empleado.EmpleadoApellido1 Encargado es aqui</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.SolicitudFecha)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.SolicitudFecha)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DetallesSolicitud)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DetallesSolicitud)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FechasSeleccionadas)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FechasSeleccionadas)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CantidadDias)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CantidadDias)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Comentario)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Comentario)
            </dd>
            <dt class="col-sm-2">
                <label>Agregar Comentario</label>
            </dt>
            <dd class="col-sm-10">
                @Html.TextAreaFor(model => model.Comentario, new { @class = "form-control", id = "txtComentario" })
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Cargo.CargoNombre)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Cargo.CargoNombre)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Depto.DeptoNombre)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Depto.DeptoNombre)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Empleado.EmpleadoCodigo)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Empleado.EmpleadoCodigo)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Empleado.EmpleadoNombre1)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Empleado.EmpleadoNombre1)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Empleado.EmpleadoApellido1)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Empleado.EmpleadoApellido1)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Estados.EstadosNombre)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Estados.EstadosNombre)
            </dd>
            <dt class="col-sm-2">
                <label>Modificar Estado</label>
            </dt>
            <dd class="col-sm-10">
                <label id="notifica">
                    Ya no puedes <b>Modificar</b> la solicitud debido a que ya paso la primer revisión.
                </label>
                @Html.DropDownListFor(m => m.EstadosId, new SelectList(ViewData["EstadoS"] as IEnumerable<SelectListItem>, "Value", "Text"), new { @class = "form-control", id = "Estado" })
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Vacaciones.VacacionesEstado)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Empleado.EmpDiasvacaciones)
            </dd>
        </dl>
        <input type="submit" id="Boton_Modifica" name="Modificar" asp-action="ModificarDetallesDepaEncargado" asp-route-id="@Model.SolicitudId" value="Modificar Solicitud" class="btn btn-primary" />
    </form>
    <br />
    <a asp-action="PerfilEncargado" type="submit" class="btn btn-primary">Regresar</a>
</div>
