@model ControlPostgres.Contexto.Entities.TbSolicitude

@{
    ViewData["Title"] = "Detalles";
}
<div>
    <h4>Detalles de la Solicitud del colaborador @Model.Empleado.EmpleadoNombre1 @Model.Empleado.EmpleadoApellido1 </h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.SolicitudFecha)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SolicitudFecha)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.DetallesSolicitud)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DetallesSolicitud)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.FechasSeleccionadas)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechasSeleccionadas)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.CantidadDias)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CantidadDias)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Comentario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Comentario)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Cargo.CargoNombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cargo.CargoNombre)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Depto.DeptoNombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Depto.DeptoNombre)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Empleado.EmpleadoNombre1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Empleado.EmpleadoNombre1+" "+ model.Empleado.EmpleadoApellido1)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Estados.EstadosNombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estados.EstadosNombre)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Vacaciones.VacacionesEstado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Empleado.EmpDiasvacaciones)
        </dd>
    </dl>
</div>
<div>
    <!-- <a asp-action="Edit" asp-route-id="@Model.SolicitudId">Edit</a> |-->
    <a asp-action="Perfil" type="submit" class="btn btn-primary">Regresar</a>
</div>
