@model ControlPostgres.Contexto.Entities.TbEmpleado

@{
    ViewData["Title"] = "Detalles del Perfil";
}

<h1>Perfil</h1>

<div>

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmpleadoCodigo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmpleadoCodigo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmpleadoNombre1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmpleadoNombre1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmpleadoNombre2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmpleadoNombre2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmpleadoApellido1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmpleadoApellido1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmpleadoApellido2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmpleadoApellido2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ApellidoCasada)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ApellidoCasada)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaNacimiento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmpleadoTelefono)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmpleadoTelefono)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmpleadoDireccion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmpleadoDireccion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaIngreso)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaIngreso)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmpDiasvacaciones)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmpDiasvacaciones)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cargo.CargoNombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cargo.CargoNombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Depto.DeptoNombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Depto.DeptoNombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vacaciones)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmpDiasvacaciones)
        </dd>
    </dl>
</div>
<div>
    <form asp-action="RetornarPerfil">
        <button value="RetornarPerfil" class="btn btn-primary">Regresar</button>
    </form>
    <br />
    <div class="botones__boton1">
        <a asp-action="ActualizaDatosPerfil" type="submit" class="btn btn-primary">Actualizar</a>
    </div>

</div>
