@model ControlPostgres.Contexto.Entities.TbEmpleado

@{
    ViewData["Title"] = "Detalles del Perfil";
}



<div id="container_detailsPerfil">

    <h2>Informacion General del Colaborador</h2>
    <div class="row">
        <div class="col">
            <div class="mb-3">
                <label class="control-label">
                    @Html.DisplayNameFor(model => model.EmpleadoCodigo)
                </label>
                <label class="form-control">
                    @Html.DisplayFor(model => model.EmpleadoCodigo)
                </label>
            </div>
        </div>

        <div class="col">
            <div class="mb-3">
                <label class="control-label">
                    @Html.DisplayNameFor(model => model.EmpleadoNombre1)
                </label>
                <label class="form-control">
                    @Html.DisplayFor(model => model.EmpleadoNombre1)
                </label>
            </div>
        </div>

        <div class="col">
            <div class="mb-3">
                <label class="control-label">
                    @Html.DisplayNameFor(model => model.EmpleadoNombre2)
                </label>
                <label class="form-control">
                    @Html.DisplayFor(model => model.EmpleadoNombre2)
                </label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="mb-3">
                <label class="control-label">
                    @Html.DisplayNameFor(model => model.EmpleadoApellido1)
                </label>
                <label class="form-control">
                    @Html.DisplayFor(model => model.EmpleadoApellido1)
                </label>
            </div>
        </div>
        <div class="col">
            <div class="mb-3">
                <label class="control-label">
                    @Html.DisplayNameFor(model => model.EmpleadoApellido2)
                </label>
                <label class="form-control">
                    @Html.DisplayFor(model => model.EmpleadoApellido2)
                </label>
            </div>
        </div>
        <div class="col">
            <div class="mb-3">
                <label class="control-label">
                    @Html.DisplayNameFor(model => model.ApellidoCasada)
                </label>
                <label class="form-control">
                    @Html.DisplayFor(model => model.ApellidoCasada)
                </label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="mb-3">
                <label class="control-label">
                    @Html.DisplayNameFor(model => model.FechaNacimiento)
                </label>
                <label class="form-control">
                    @Html.DisplayFor(model => model.FechaNacimiento)
                </label>
            </div>
        </div>
        <div class="col">
            <div class="mb-3">
                <label class="control-label">
                    @Html.DisplayNameFor(model => model.EmpleadoTelefono)
                </label>
                <label class="form-control">
                    @Html.DisplayFor(model => model.EmpleadoTelefono)
                </label>
            </div>
        </div>
        <div class="col">
            <div class="mb-3">
                <label class="control-label">
                    @Html.DisplayNameFor(model => model.EmpleadoDireccion)
                </label>
                <label class="form-control">
                    @Html.DisplayFor(model => model.EmpleadoDireccion)
                </label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="mb-3">
                <label class="control-label">
                    @Html.DisplayNameFor(model => model.FechaIngreso)
                </label>
                <label class="form-control">
                    @Html.DisplayFor(model => model.FechaIngreso)
                </label>
            </div>
        </div>
        <div class="col">
            <div class="mb-3">
                <label class="control-label">
                    @Html.DisplayNameFor(model => model.EmpDiasvacaciones)
                </label>
                <label class="form-control">
                    @Html.DisplayFor(model => model.EmpDiasvacaciones)
                </label>
            </div>
        </div>
        <div class="col">
            <div class="mb-3">
                <label class="control-label">
                    @Html.DisplayNameFor(model => model.Cargo.CargoNombre)
                </label>
                <label class="form-control">
                    @Html.DisplayFor(model => model.Cargo.CargoNombre)
                </label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="mb-3">
                <label class="control-label">
                    @Html.DisplayNameFor(model => model.Depto.DeptoNombre)
                </label>
                <label class="form-control">
                    @Html.DisplayFor(model => model.Depto.DeptoNombre)
                </label>
            </div>
        </div>
    </div>

</div>

<div>
    <div class="row">
        <div class="col-1">
            <div class="mb-3">
                <form asp-action="RetornarPerfil">
                    <button value="RetornarPerfil" class="btn btn-primary">Regresar</button>
                </form>
            </div>
        </div>
        <div class="col-1">
            <div class="mb-3">
                <div class="botones__boton1">
                    <a asp-action="ActualizaDatosPerfil" type="submit" class="btn btn-primary">Actualizar</a>
                </div>
            </div>
        </div>
    </div>

</div>
