@model ControlPostgres.Contexto.Entities.TbSolicitude
@{ ViewData["Title"] = "Detalles de la Solicitud"; }
@section Scripts {
    <script>
        $(function () {

            document.getElementById('notifica').style.visibility = 'hidden';
            document.getElementById('notifica').style.display = "none";
            if (@ViewBag.Estado == 4) {
                document.getElementById('Estado').style.visibility = 'hidden';
                document.getElementById('Estado').style.display = 'none';
                document.getElementById('notifica').style.visibility = 'visible';
                document.getElementById('notifica').style.display = 'initial';
                document.getElementById('notifica').innerHTML = "La opcion no aparece disponible debido a que la solicitud ya fue <b>aprobada</b> ";
                document.getElementById('Boton_Modifica').style.visibility = 'hidden';
                document.getElementById('Boton_Modifica').style.display = 'none';
                document.getElementById('txtComentario').style.visibility = 'hidden';
                document.getElementById('txtComentario').style.display = 'none';
            }
            else if (@ViewBag.Estado == 5) {
                document.getElementById('Estado').style.visibility = 'hidden';
                document.getElementById('Estado').style.display = 'none';
                document.getElementById('notifica').style.visibility = 'visible';
                document.getElementById('notifica').style.display = 'initial';
                document.getElementById('notifica').innerHTML = "La opcion no aparece disponible debido a que la solicitud ya fue <b>denegada</b> ";
                document.getElementById('Boton_Modifica').style.visibility = 'hidden';
                document.getElementById('Boton_Modifica').style.display = 'none';
                document.getElementById('txtComentario').style.visibility = 'hidden';
                document.getElementById('txtComentario').style.display = 'none';
            }
            else if (@ViewBag.Estado == 2) {
                document.getElementById('Estado').style.visibility = 'hidden';
                document.getElementById('Estado').style.display = 'none';
                document.getElementById('notifica').style.visibility = 'visible';
                document.getElementById('notifica').style.display = 'initial';
                document.getElementById('notifica').innerHTML = "La opcion no aparece disponible debido a que la solicitud ya esta en <b>revisión</b> ";
                document.getElementById('Boton_Modifica').style.visibility = 'hidden';
                document.getElementById('Boton_Modifica').style.display = 'none';
                document.getElementById('txtComentario').style.visibility = 'hidden';
                document.getElementById('txtComentario').style.display = 'none';
            }

        });
    </script>

}
@{ ViewData["Title"] = "Detalles"; }


<div id="container_solicitud_mod">
    <form asp-action="ModificarDetallesDepaJefe">
        <h4>Detalles de la Solicitud del colaborador @Html.DisplayFor(model => model.Empleado.EmpleadoNombre1) @Html.DisplayFor(model => model.Empleado.EmpleadoApellido1)</h4>
        <hr />
        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <label class="form-label">
                        @Html.DisplayNameFor(model => model.SolicitudFecha)
                    </label>
                    <label class="form-control">
                        @Html.DisplayFor(model => model.SolicitudFecha)
                    </label>
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <label class="form-label">
                        @Html.DisplayNameFor(model => model.DetallesSolicitud)
                    </label>
                    <label class="form-control">
                        @Html.DisplayFor(model => model.DetallesSolicitud)
                    </label>
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <label class="form-label">
                        @Html.DisplayNameFor(model => model.FechasSeleccionadas)
                    </label>
                    <div>
                        @Html.TextAreaFor(model => model.FechasSeleccionadas, new { @class = "form-control", @disabled = true })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <label class="form-label">
                        @Html.DisplayNameFor(model => model.CantidadDias)
                    </label>
                    <label class="form-control">
                        @Html.DisplayFor(model => model.CantidadDias)
                    </label>
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <label class="form-label">
                        @Html.DisplayNameFor(model => model.PeriodoVacas)
                    </label>
                    <label class="form-control">
                        @Html.DisplayFor(model => model.PeriodoVacas)
                    </label>
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <label class="form-label">
                        @Html.DisplayNameFor(model => model.Comentario)
                    </label>
                    <label class="form-control">
                        @Html.DisplayFor(model => model.Comentario)
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <label class="form-label">
                        <label>Agregar Comentario</label>
                    </label>
                    <div>
                        @Html.TextAreaFor(model => model.Comentario, new { @class = "form-control", @disabled = true, id = "txtComentario" })
                    </div>

                </div>
            </div>
            <div class="col">
                <div class="mb-3">

                    <label class="form-label">
                        @Html.DisplayNameFor(model => model.Cargo.CargoNombre)
                    </label>
                    <label class="form-control">
                        @Html.DisplayFor(model => model.Cargo.CargoNombre)
                    </label>
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <label class="form-label">
                        @Html.DisplayNameFor(model => model.Depto.DeptoNombre)
                    </label>
                    <label class="form-control">
                        @Html.DisplayFor(model => model.Depto.DeptoNombre)
                    </label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <label class="form-label">
                        @Html.DisplayNameFor(model => model.Empleado.EmpleadoCodigo)
                    </label>
                    <label class="form-control">
                        @Html.DisplayFor(model => model.Empleado.EmpleadoCodigo)
                    </label>
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <label class="form-label">
                        @Html.DisplayNameFor(model => model.Empleado.EmpleadoNombre1)
                    </label>
                    <label class="form-control">
                        @Html.DisplayFor(model => model.Empleado.EmpleadoNombre1)
                    </label>
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <label class="form-label">
                        @Html.DisplayNameFor(model => model.Empleado.EmpleadoApellido1)
                    </label>
                    <label class="form-control">
                        @Html.DisplayFor(model => model.Empleado.EmpleadoApellido1)
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <label class="form-label">
                        @Html.DisplayNameFor(model => model.Estados.EstadosNombre)
                    </label>
                    <label class="form-control">
                        @Html.DisplayFor(model => model.Estados.EstadosNombre)
                    </label>
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <label class="form-label">
                        <label>Modificar Estado</label>
                    </label>
                    <div id="vamos">
                        <label id="notifica">
                            Lo sentimos la opcion <b>Modificar Estado</b> no aparece disponible debido
                            a que no se ha realizado la primera revision.
                        </label>
                        @Html.DropDownListFor(m => m.EstadosId, new SelectList(ViewData["EstadoS"] as IEnumerable<SelectListItem>, "Value", "Text"), new { @class = "form-control", id = "Estado" })
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <label class="form-label">
                        @Html.DisplayNameFor(model => model.Vacaciones.VacacionesEstado)
                    </label>
                    <label class="form-control">
                        @Html.DisplayFor(model => model.Empleado.EmpDiasvacaciones)
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <div class="mb-3">
                    <input id="Boton_Modifica" type="submit" name="Modificar" asp-action="ModificarDetallesDepaJefe" asp-route-id="@Model.SolicitudId" value="Modificar Solicitud" class="btn btn-primary" />
                </div>
            </div>
            <div class="col-1">
                <div class="mb-3">
                    <a asp-action="PerfilJefe" type="submit" class="btn btn-primary">Regresar</a>
                </div>
            </div>
        </div>
    </form>
</div>



