@model ControlPostgres.Contexto.Entities.TbSolicitude
@{ ViewData["Title"] = "Detalles de la Solicitud"; }
@section Scripts {
    <script>
        $(function () {

            document.getElementById('Imprimir').style.visibility = 'hidden';
            document.getElementById('Imprimir').style.display = "none";
            if (@ViewBag.Estado == 4 || @ViewBag.Estado == 5) {
                document.getElementById('Imprimir').style.visibility = 'visible';
                document.getElementById('Imprimir').style.display = "initial";
            }
        });

    </script>
}

<input type="hidden" id="Estado" data-value="@ViewBag.Estado" />
@{ ViewData["Title"] = "Detalles"; }

<div id="container_Detalles_Cola">
    <h4>Detalles de la Solicitud del colaborador @Model.Empleado.EmpleadoNombre1 @Model.Empleado.EmpleadoApellido1 </h4>

    <div class="row">
        <div class="col">
            <div class="mb-3">
                <label class="control-label">
                    @Html.DisplayNameFor(model => model.SolicitudFecha)
                </label>
                <label class="form-control">
                    @Html.DisplayFor(model => model.SolicitudFecha)
                </label>
            </div>
        </div>
        <div class="col">
            <div class="mb-3">
                <label class="control-label">
                    @Html.DisplayNameFor(model => model.DetallesSolicitud)
                </label>
                <label class="form-control">
                    @Html.DisplayFor(model => model.DetallesSolicitud)
                </label>
            </div>
        </div>
        <div class="col">
            <div class="mb-3">
                <label class="control-label">
                    @Html.DisplayNameFor(model => model.FechasSeleccionadas)
                </label>
                <div>
                    @Html.TextAreaFor(model => model.FechasSeleccionadas,new{ @class="form-control", @disabled = true })
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="mb-3">
                <label class="control-label">
                    @Html.DisplayNameFor(model => model.CantidadDias)
                </label>
                <label class="form-control">
                    @Html.DisplayFor(model => model.CantidadDias)
                </label>
            </div>
        </div>
        <div class="col">
            <div class="mb-3">
                <label class="control-label">
                    @Html.DisplayNameFor(model => model.PeriodoVacas)
                </label>
                <label class="form-control">
                    @Html.DisplayFor(model => model.PeriodoVacas)
                </label>
            </div>
        </div>
        <div class="col">
            <div class="mb-3">
                <label class="control-label">
                    @Html.DisplayNameFor(model => model.Comentario)
                </label>
                <label class="form-control">
                    @Html.DisplayFor(model => model.Comentario)
                </label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="mb-3">
                <label class="control-label">
                    @Html.DisplayNameFor(model => model.Cargo.CargoNombre)
                </label>
                <label class="form-control">
                    @Html.DisplayFor(model => model.Cargo.CargoNombre)
                </label>
            </div>
        </div>
        <div class="col">
            <div class="mb-3">
                <label class="control-label">
                    @Html.DisplayNameFor(model => model.Depto.DeptoNombre)
                </label>
                <label class="form-control">
                    @Html.DisplayFor(model => model.Depto.DeptoNombre)
                </label>
            </div>
        </div>
        <div class="col">
            <div class="mb-3">
                <label class="control-label">
                    @Html.DisplayNameFor(model => model.Empleado.EmpleadoCodigo)
                </label>
                <label class="form-control">
                    @Html.DisplayFor(model => model.Empleado.EmpleadoCodigo)
                </label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="mb-3">
                <label class="control-label">
                    @Html.DisplayNameFor(model => model.Empleado.EmpleadoNombre1)
                </label>
                <label class="form-control">
                    @Html.DisplayFor(model => model.Empleado.EmpleadoNombre1)
                </label>
            </div>
        </div>
        <div class="col">
            <div class="mb-3">
                <label class="control-label">
                    @Html.DisplayNameFor(model => model.Empleado.EmpleadoApellido1)
                </label>
                <label class="form-control">
                    @Html.DisplayFor(model => model.Empleado.EmpleadoApellido1)
                </label>
            </div>
        </div>
        <div class="col">
            <div class="mb-3">
                <label class="control-label">
                    @Html.DisplayNameFor(model => model.Estados.EstadosNombre)
                </label>
                <label class="form-control">
                    @Html.DisplayFor(model => model.Estados.EstadosNombre)
                </label>
            </div>
        </div>

        <div class="col">
            <div class="mb-3">
                <label class="control-label">
                    @Html.DisplayNameFor(model => model.Vacaciones.VacacionesEstado)
                </label>
                <label class="form-control">
                    @Html.DisplayFor(model => model.Empleado.EmpDiasvacaciones)
                </label>
            </div>
        </div>
    </div>
</div>


<div class="botones">
    <div class="row">
        <div class="col-1">
            <div class="mb-3">
                <div class="botones__boton1">
                    <a asp-action="PerfilColaborador" type="submit" class="btn btn-primary">Regresar</a>
                </div>
            </div>
        </div>
        <div class="col-1">
            <div class="mb-3">
                <div class="botones__boton2">
                    <a id="Imprimir" asp-action="ImprimirDocumento" asp-route-id="@Model.SolicitudId" type="submit" class="btn btn-primary">Imprimir</a>
                </div>
            </div>
        </div>
    </div>


</div>
