@model IEnumerable<ControlPostgres.Contexto.Entities.TbSolicitude>
@{ ViewData["Title"] = "Solicitudes en espera"; }
@section scripts{
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
               $(function () {
            var opcion = '@ViewBag.SolicitudCreada'

            if (opcion == "Si") {
                Swal.fire({
                    title: "Tienes Solicitudes para aprovacion",
                    showConfirmButton: false,
                    timerProgressBar: true,
                    icon:"success",
                    timer:1500,
                });
            }
        });

    </script>

}

<h1 id="Titulo_tabla">Solicitudes pendientes de aprovacion o denegación</h1>
<br />
<table class="table" id="Dame">
    <thead id="Encabezado">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SolicitudFecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DetallesSolicitud)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantidadDias)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comentario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Depto.DeptoNombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empleado.EmpleadoCodigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estados.EstadosNombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vacaciones.VacacionesEstado)
            </th>
            <th>
                <label>Acciones</label>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr id="filascol">
    <td>
        @Html.DisplayFor(modelItem => item.SolicitudFecha)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DetallesSolicitud)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CantidadDias)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Comentario)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Depto.DeptoNombre)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Empleado.EmpleadoCodigo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Estados.EstadosNombre)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Empleado.EmpDiasvacaciones)
    </td>
    <td>
        <a asp-action="Detalles" asp-route-id="@item.SolicitudId" id="btntabla" class="btn btn-primary glyphicon glyphicon-pencil">Detalles</a>
    </td>
</tr>}
    </tbody>
</table>

<form asp-action="RetornarPerfil">
    <button value="RetornarPerfil" class="btn btn-primary">Regresar</button>
</form>

