@model ControlPostgres.Contexto.Entities.TbSolicitude
@{ ViewData["Title"] = "Perfil"; }
@section scripts{
    <script>
        $(function () {
            document.getElementById('Notificador').style.visibility = 'hidden';
            document.getElementById('Notificador').style.display = 'none';
            if (@ViewBag.CantidadDias == 0) {
                document.getElementById('FormularioRegistro').style.visibility = 'hidden';
                document.getElementById('FormularioRegistro').style.display = 'none';
                document.getElementById('Notificador').style.visibility = 'visible';
                document.getElementById('Notificador').style.display = 'initial';
                document.getElementById('NotificaBoton').innerHTML = `lo sentimos ya no puedes crear solicitudes
                debido a que su cantidad de dias disponibles son <b>${@ViewBag.CantidadDias}</b>`;
                }
        });
        $(function () {
            var opcion = '@ViewBag.Logueo'
            var opcion2 = '@ViewBag.Logueo2'
            var opcion3 = '@ViewBag.Logueo3'
            if (opcion == "Logueo Exitoso") {
                Swal.fire({
                    toast: true,
                    title: "Bienvenido a tu perfil",
                    showConfirmButton: false,
                    timerProgressBar: true,
                    position: 'top-end',
                    timer:1500,
                });
            } else if (opcion2 == "Ya hay") {
                Swal.fire({
                    title: "Solicitudes Pendientes",
                    text: "tienes 1 solicitud pendiente, espera a que sea aprobada o denegada para poder generar más",
                    icon: "warning",
                    showConfirmButton: false,
                    timerProgressBar: true,
                    timer: 2000,
                });
            } else if (opcion2 == "Campos Vacios") {
                Swal.fire({
                    title: "Campos Vacios",
                    text: "por favor llena los campos para crear tu solicitud",
                    icon: "error",
                    showConfirmButton: false,
                    timerProgressBar: true,
                    timer: 1500,
                });
            } else if (opcion2 == "La cantidad de dias solicitados es mayor a la cantidad de dias restantes de vacaciones") {
                Swal.fire({
                    title: "Verifica la cantidad de dias seleccionados",
                    text: "La cantidad de dias solicitados es mayor a la cantidad de dias restantes de vacaciones",
                    icon: "error",
                    showConfirmButton: true,

                });
            } else if (opcion2 == "Impreso") {
                Swal.fire({
                    title: "Solicitud Impresa",
                    text: "Verifica tu escritorio, la solicitud se ha impreso y se guardado como 'Solicitud#-Codigo-Empleado-####' ",
                    icon: "success",
                    showConfirmButton: true,

                });
            } else if (opcion3 == "Si actualizo") {
                Swal.fire({
                    title: "Datos Actualizados",
                    text: "Tus datos han sido actualizados",
                    icon: "success",
                    showConfirmButton: true,
                });
            }
        });
        $(function () {
            $('#multidate').multiDatesPicker({
                dateFormat: 'dd/mm/yy',
                beforeShowDay: $.datepicker.noWeekends,
                minDate: '+11d'
            });
        });

    </script>

}



<h1>Bienvenido Colaborador: @Model.Empleado.EmpleadoNombre1 @Model.Empleado.EmpleadoApellido1</h1>

<div class="row" onkeydown="return desabilitartecla(event.keyCode)">
    <div class="col-md-4">
        <label style="font-size:25px">Crear Solicitud de Vacaciones</label>
        <label style="font-size:25px">Cantidad de dias disponibles: @Model.Empleado.EmpDiasvacaciones</label>

        <form asp-action="RegistrarSolicitud" id="FormularioRegistro" onkeydown="return desabilitartecla(event.keyCode)">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label asp-for="DetallesSolicitud" class="control-label">Detalle la solicitud</label>
                <input asp-for="DetallesSolicitud" class="form-control" autocomplete="off" />
                <span asp-validation-for="DetallesSolicitud" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="FechasSeleccionadas" class="control-label">Seleccione las fechas que desea descansar</label>
                <input asp-for="FechasSeleccionadas" type="text" class="form-control" id="multidate" autocomplete="off" />
                <span asp-validation-for="FechasSeleccionadas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PeriodoVacas" class="control-label">Ingrese su periodo de vacaciones</label>
                <input asp-for="PeriodoVacas" type="text" autocomplete="off" class="form-control" />
                <span asp-validation-for="PeriodoVacas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button id="Btncrear" value="RegistrarSolicitud" type="submit" class="btn btn-primary">Crear Solicitud</button>
            </div>
        </form>
        <form id="Notificador">
            <label id="NotificaBoton"></label>
        </form>
        <form asp-action="ListarSolicitudEmpleado" onkeydown="return desabilitartecla(event.keyCode)">
            <div class="form-group">
                <button value="ListarSolicitudEmpleado" type="submit" class="btn btn-primary">Ver mis solicitudes finalizadas</button>
            </div>
        </form>
        <form asp-action="ListarSolicitudEmpleadoRevisiones" onkeydown="return desabilitartecla(event.keyCode)">
            <div class="form-group">
                <button value="ListarSolicitudEmpleadoRevisiones" type="submit" class="btn btn-primary">Ver mis solicitudes en revisión</button>
            </div>
        </form>
        <form asp-action="SolicitudesDepartamentoJefe" onkeydown="return desabilitartecla(event.keyCode)">
            <div class="form-group">
                <button value="SolicitudesDepartamentoJefe" type="submit" class="btn btn-primary">Solicitudes Departamentos</button>
            </div>
        </form>
    </div>
</div>

