@{ ViewData["Title"] = "Solicitudes del departamento"; }
@model IEnumerable<ControlPostgres.Contexto.Entities.TbSolicitude>

    <h1>Solicitudes pendientes de aprovacion o denegación</h1>

<table class="table" id="Dame">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SolicitudFecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DetallesSolicitud)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantidadDias)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comentario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Depto.DeptoNombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empleado.EmpleadoCodigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estados.EstadosNombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vacaciones.VacacionesEstado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr id="filascol">
    <td>
        @Html.DisplayFor(modelItem => item.SolicitudFecha)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DetallesSolicitud)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CantidadDias)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Comentario)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Depto.DeptoNombre)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Empleado.EmpleadoCodigo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Estados.EstadosNombre)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Empleado.EmpDiasvacaciones)
    </td>
    <td>
        <a asp-action="DetallesDepaEncargado" asp-route-id="@item.SolicitudId" class="btn btn-primary glyphicon glyphicon-pencil">Detalles</a>
    </td>
</tr>}
    </tbody>
</table>
<a asp-action="PerfilEncargado" type="submit" class="btn btn-primary">Regresar</a>